.login {
    background-image: url("./../../img/film.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 130px;
    padding-bottom: 145px;
    background-color: rgba(0, 0, 0, 0.5);
}

.login__form {
    width: 35%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.719);
    padding: 50px;
    color: white;
}

.login__form input {
    width: 80%;
    padding: 13px 10px 13px;
    font-size: 14px;
    background: transparent;
    border: 3px solid #69c920;
    outline: none;
    margin-bottom: 26px;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    background: rgba(0, 0, 0, 0.637);
}

.login__form form {
    margin-top: 30px;
}

.form__header {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 50px;
    color: rgb(229, 243, 149);
    text-transform: uppercase;
}

.login__form a {
    color: #fff;
    font-weight: 600;
    padding: 8px 10px;
    border: 1px solid rgb(201, 235, 192);
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
}

.login__form a:hover {
    color: rgb(17, 16, 9);
    background-color: rgba(255, 255, 255, 0.726);
}

.login__form p {
    font-size: 18px;
}

.login__form .btn__login {
    width: 50%;
    font-size: 16px;
    padding: 10px 65px;
    background-color: #537b35;
    color: #fff;
    border: none;
    border-radius: 0px;
    outline: none;
    float: none;
    cursor: pointer;
}

.login__form .btn__login:hover {
    background-color: rgba(255, 255, 255, 0.836);
    color: #283b19;
}