.movie-detail {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.movie-img {
    overflow: hidden;
}

.movie-img img {
    filter: blur(15px);
}

.movie-info {
    width: 960px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

.movie-poster-main img {
    height: 100%;
    width: 100%;
}

.CircularProgressbar-text {
    dominant-baseline: central !important;
}

.star-ratings {
    display: table;
    margin: 10px auto;
}

.btn-bookMovie {
    margin-left: 5px;
}

.btn-bookMovie:focus, .btn-bookMovie:active {
    box-shadow: none;
}

.modal-dialog {
    max-width: 800px !important
}

.btn-trailer:focus, .btn-trailer:active {
    box-shadow: none;
}

.brand-container {
    border-top: 1px solid #ebebec;
    border-bottom: 1px solid #ebebec;
    border-left: 1px solid #ebebec;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.movie-schedule {
    width: 960px;
    margin: 100px auto;
}

.tab-brand {
    cursor: pointer;
    padding: 20px;
    opacity: 0.5;
    transition: all 0.5s;
    position: relative;
}

.tab-brand::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-top: 1px solid #ccc;
    border-color: rgba(238, 238, 238, .88);
}

.tab-brand:hover {
    opacity: 1;
}

.tab-brand.active {
    opacity: 1;
}

.tab-brand img {
    width: 70px;
    margin-right: 10px;
}

.brand-content {
    border: 1px solid #ebebec;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.pill-time {
    font-size: 14px;
    font-weight: 400;
    margin: 0 10px 10px 0;
    padding: 8px;
    transition: all 0.2s;
    /* text-decoration: none; */
    display: block;
    text-align: center;
    background-color: rgba(246, 246, 246, .5);
    border-radius: 7px;
    color: #9b9b9b;
    border: 1px solid #e4e4e4;
    letter-spacing: -.12px;
    width: calc(25% - 10px);
    color: #108f3e;
}

.pill-time:hover {
    color: #fb4226
}

.cinema-time {
    position: relative;
}

.cinema-time::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-top: 1px solid #ccc;
    border-color: rgba(238, 238, 238, .88);
}