/* carousel */

.carousel__movie {
    position: relative;
}

.carousel__customs {
    bottom: 70px;
}

.carousel__filter {
    background-color: white;
    height: 80px;
    margin-top: -40px;
    position: absolute;
    bottom: -50px;
    width: 70%;
    margin-left: 15%;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;
    /* border: 1px solid black; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.596);
    display: flex;
    justify-content: space-around; 
}
.carousel__filter a{
    margin-bottom: auto;
    font-size: 18px;
    justify-content: initial;
    padding: 2px;
}

/* dropdown */

.dropdown{
    float: left;
    padding: 1px;
    /* display: block; */
}
.dropdown select{
    padding: 10px;
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.267);
}

/* movie */

.movie {
    margin-top: 80px;
}

.movie a {
    font-weight: 400;
    text-decoration: none;
    margin-right: 30px;
    color: black;
    font-size: 20px;
}

.movie_list {
    width: 60%;
    margin-left: 20%;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;
}
.movie__item{
    border: none;
}

.movie__item img {
    border-radius: 10px;
}
button{
    color: white;
    margin-bottom: 10px;
    
}
.btn__filter{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.btn__filter:hover{
    color: white;
    margin: 0;
    font-size: 18px;
}